<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Texto para Áudio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  
</head>
<body>
    <div class="container">
        <i class="fas fa-microphone-alt icon"></i>
        <h2>Conversor de Texto para Áudio</h2>
        <form action="/generate_audio" method="POST">
            <textarea 
                name="text" 
                placeholder="Digite ou cole seu texto aqui..."
                required></textarea>
            
            <select name="voice" required>
                <option value="male">Masculino</option>
                <option value="female">Feminino</option>
            </select>
            
            <button type="submit">
                <i class="fas fa-play"></i>
                Gerar Áudio
            </button>
        </form>
               <div id="audioFilesContainer"></div>
        <div class="features">
            <div class="feature">
                <i class="fas fa-bolt"></i>
                <p>Conversão Rápida</p>
            </div>
            <div class="feature">
                <i class="fas fa-language"></i>
                <p>Suporte PT-BR</p>
            </div>
            <div class="feature">
                <i class="fas fa-download"></i>
                <p>Download Fácil</p>
            </div>
        </div>
    </div>
</body>
</html>
